.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card {
  background-color: darkgray;
  color: blue;
}

mat-card-title {
  text-align: center;
  color: orange;
}

span {
 position: relative;
 display: block
}
